/* Add this CSS to your stylesheets or use a CSS-in-JS solution like styled-components */

.centered-container {
  position: relative;

  background-color: #000000; /* Change to your preferred background color */
  color: #ffffff; /* Change to your preferred text color */
}


.centered-content {
  text-align: center;
}

.centered-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.centered-unity {
  width: 800px;
  height: 600px;
  border: 2px solid #150bd7; /* Add a border to the Unity component */
  border-radius: 10px; /* Add border radius for a cooler look */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a subtle shadow */
}
.navbar {
  background-color: #000000 !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 80px;
  padding: 10px 0;
}
.navbar-brand {
  font-size: 28px;
  font-weight: bold;
  color: #ffffff; /* Blanco para contraste */
  text-shadow: 0 0 5px #ffffff, 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 40px #00ff00; 
}

.navbar-toggler {
  border: none;
  background-color: #000000;
}

.navbar-toggler-icon {
  background-image: url('https://cdn-icons-png.flaticon.com/512/565/565504.png');
  background-size: cover;
  width: 25px;
  height: 25px;
}

.navbar-nav .nav-link {
  color: #ffffff; /* Blanco base */
  font-size: 18px;
  margin-right: 30px;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #00ff00, 0 0 15px #00ff00, 0 0 20px #00ff00;
  transition: all 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #00ff00;
  text-shadow: 0 0 10px #ffffff, 0 0 20px #00ff00, 0 0 30px #00ff00, 0 0 40px #00ff00;
  text-decoration: none; 
}

@media (max-width: 991px) {
  .navbar-brand {
    font-size: 24px;
  }

  .navbar-nav .nav-link {
    font-size: 16px;
  }
}
.navbar-brand img {
  width: 50px;
  height: auto;
  margin-right: 1rem;
}